/* Custom container */
body{ background: url("/assets/themes/twitter/img/body_bg.png") repeat;}

.navbar .navbar-inner{ 
  background-color: rgba(0,157,148,0.9);
  }


.nav-narrow{  
  margin: 0 auto;
  max-width: 800px;}

.row-fluid.post-full .span12 .date {
  float: left;
  margin-left:-70px; 
 
  width:80px; 
  height:48px; 

  color: #fff;
  text-align: right; 
  background: url("/assets/themes/twitter/img/bg.png")  left top no-repeat;
}

.card { 
  max-width: 800px;

  padding: 20px 40px;
  
  background-color: #fff; 
  }

.container-narrow {
  margin: 100px auto;
  max-width: 800px; }

.container-narrow > hr { 
  margin: 30px 0; }

.navbar .nav {  
  float: right; }

/* posts index */

.post > h3.title { 
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {  
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more { 
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date { 
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box { 
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li { 
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgb(0,157,140);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
                 }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
